*{
    margin: 0px;
    padding: 0px;

}

body{
  font-family: "Oswald", sans-serif;
  
}
.navbar{
    background-color:rgb(248, 83, 6);
    padding: 10px;
}
.container{
    padding: 10px;
   

}
.book-container{
    display: inline-block;
    padding: 15px;
    width: 25%;
    background-color: black;
    border-radius: 10px;
    color: white;
    margin: 30px;
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    
}
.book-container h2{
    color: rgb(255, 51, 0);
}
.book-container button{
    background-color: rgb(224, 66, 17);
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}
.add-button{
    background-color: rgb(255, 51, 0);
    border-radius: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
    border: none;
    position: fixed;
    bottom: 50px;
    right: 80px;
}
.popup-overlay{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 1;
    display: none
    ;

}

.popup-box{
    background-color: rgb(226, 59, 8);
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    position:absolute;
    top: 30%;
    left: 30%;
    z-index: 2;
    display: none;

}
.popup-box input{
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
   
    font-size: 20px;
    border-bottom: solid black 2px;
}
.popup-box textarea{
    background-color: transparent;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: solid black 2px;
    border-radius: 5px;
    
}
.popup-box input::placeholder{
    color: black;
}
.popup-box textarea::placeholder{
    color: black;
}
.popup-box button{
    background-color: black;
    padding: 10px;
    border: none;
    color: white;
    margin: 5px;
    border-radius: 5px;
}
.popup-box input:focus{
    outline: none;
}
.popup-box textarea:focus{
    outline: none;
}